table {
    border-collapse: collapse;
    margin: auto;
}

table td {
    padding: 4px;
    min-width: 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
table td:last-child {
    border-right: 1px solid black;
}
table tr:last-child {
    border-bottom: 1px solid black;
}

.machine tr:first-child td {
    border: none;
}
.machine tr:last-child td:first-child {
    border-left: none;
}
.machine tr:last-child td:last-child {
    border-right: none;
}

li {
    list-style-type: "☆ ";
}